.title {
  font-size: 2em;
  text-align: center;
  border-bottom: 1px solid darkolivegreen;
  padding: 2.7rem;
}

.title a {
  color: black !important;
  text-decoration: none !important;
}

.navbar {
  font-size: 1.2em;
  text-align: center;
  color: forestgreen;
  border-bottom: 1px solid darkolivegreen;
  padding: 0.5rem;
}

.nav-item {
  padding: 10px;
  text-decoration: none;
  color: forestgreen;
}

.nav-item:visited, .nav-item:active, .nav-item:focus {
  text-decoration: none;
  color: forestgreen;
}

.nav-item:hover {
  text-decoration: underline;
}
